apiVersion: v1
kind: service
metadata:
  name: my-app-deployment
spec:
  selector:
      app: my-app
  ports:
    - protocol: TCP
      port: 80               # Port inside the cluster
      targetPort: 80         # Port your container listens on
      nodePort: 30080        # External port (optional, can remove to auto-assign)
  type: NodePort             # Exposes the app outside the cluster